
@{
    ViewBag.Title = "KetQua";
}

<h2>KetQua</h2>
<table border="1" cellpadding="0" cellspacing="0" width="550px">
    <tr>
        <th>Mã Hàng:</th>
        <th>Tên Hàng:</th>
        <th>Thanh Tiền:</th>
    </tr>
    <tr>
        <td>@Model.MaHang</td>
        <td>@Model.TenHang</td>
        <td>@Model.ThanhTien</td>
    </tr>
</table>
